Controllers/FlowerXML/Flower.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!--
 Author: Chong Wei Jie
 ID: 19WMR09574
-->
<!ELEMENT flowers (flower*)>
<!ELEMENT flower (id, flower_name, remark, imageURL, is_available)>
<!ATTLIST flower id ID #REQUIRED>

<!ELEMENT id (#PCDATA)>
<!ELEMENT flower_name (#PCDATA)>
<!ELEMENT remark (#PCDATA)>
<!ELEMENT imageURL (#PCDATA)>
<!ELEMENT is_available (#PCDATA)>

